*{
    margin: 0px; 
    display:block;
    box-sizing: border-box; 
   }

cabecera{
  
}

tituloGrande{
  font-size: 100%;
  padding: 2.5em;
  text-align: center;
  background-color: antiquewhite;
}

catalogo {
    background-color: #002E4C; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


libro{
    background-color: #f1f1f1;
    opacity: 0.8;
    width: 300px;
    margin: 10px;
    padding: 1vw;
    font-size: 1.2em;
      }


titulo{
    font-size: 2em;
    padding: .1em;
    text-align: center;
}