body{
    width: 1000px;
    margin: auto;
    align-items: center;
}

header{
    text-align: center;
}

#grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: 50% auto auto;
        grid-template-columns: 50% 50% 50%;
        grid-template-columns: 40% 40% 20%;  
        background-color: #19738f9a;
        padding: 10px;
      }

#grid-item {
        background-color: rgba(101, 194, 231, 0.8);
        border: 1px solid rgba(211, 224, 230, 0.8);
        padding: 20px;
        font-size: 3em;
        text-align: center;
      }      