*{
    height: 100%;
}

div.azul{
    background-color: blue;
    width: 100%;
    height: 20%;
}

h1{
    text-align: center;
    font-size: 100px;
}

div.rojo{
    background-color: red;
    width: 20%;
    height: 70%;
    float: left;
}

div.verde{
    background-color: green;
    width: 40%;
    height: 70%;
    float: left;
}

div.amarillo{
    background-color: yellow;
    width: 40%;
    height: 70%;
    float: right;
}

div.naranja{
    background-color: orange;
    width: 100%;
    height: 10%;
    clear: both;
}