*{
   height: 100%; 
}

div.azul{
    background-color: blue;
    width: 100%;
    height: 20%;
}

div.rojo{
    background-color: red;
    width: 20%;
    height: 80%;
    float: left;
}

div.verde{
    background-color: green;
    width: 80%;
    height: 40%;
    float: right;
}

div.amarillo{
    background-color: yellow;
    width: 80%;
    height: 40%;
    float: right;
}